@media screen and (max-width: 480px) {
    .container-page {
        padding: 0;
    }

    .success-panel {
        justify-content: center;
        width: 100%;
        max-width: initial;
        height: 100vh;
    }

    .header-success {
        height: 100%;
    }

    .form {
        flex-direction: column;
        width: 100vw;
        min-height: 100vh;
        height: max-content;
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .container1 {
        order: 2;
    }

    .container2 img {
        width: 100%;
    }

    .container2 img.desktop {
        display: none;
    }

    .container2 img.mobile {
        display: block;
    }

    .attribution {
        display: none;
    }
}
