:root {
    /* Gradients */
    --gradient-primary: #ff6a3a;
    --gradient-secondary: #ff527b;

    /* Primary */
    --tomato: hsl(4, 100%, 67%);

    /* Neutral */
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Roboto;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: max-content;
    height: max-content;
}

.container-page {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    width: 100vw;
    min-height: max-content;
    height: 100vh;
    padding: 24px 48px 12px;
    gap: 48px;
    background-color: hsl(235, 18%, 26%);
}

.form {
    display: flex;
    margin: auto;
    border-radius: 32px;
    padding: 24px;
    background-color: var(--white);
}

.form.success .container {
    display: none;
}

.success-panel {
    display: none;
    flex-direction: column;
    max-width: 430px;
    padding: 32px;
    gap: 24px;
}

.success-panel .header-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 24px;
}

.form.success .success-panel {
    display: flex;
}

.success-panel h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1em;
}

.success-panel p {
    line-height: 1.5em;
}

#btn-form,
#btn-success {
    background-color: var(--dark-slate-grey);
    color: var(--white);
    padding: 20px 0;
    border: none;
    border-radius: 12px;
    font-weight: 700;
}

#btn-form:hover,
#btn-success:hover {
    background: linear-gradient(
        270deg,
        var(--gradient-primary),
        var(--gradient-secondary)
    );
}

.success-panel #btn-success {
    margin: 16px 0 0 0;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 480px;
    padding: 64px 36px;
    gap: 24px;
}

.container1 h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 0.8em;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

ul li {
    display: flex;
    gap: 16px;
}

label[for='email'] {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-email {
    display: flex;
    justify-content: space-between;
}

.header-email h3:nth-child(2) {
    display: none;
    color: var(--tomato);
}

#email {
    border: 1px solid var(--grey);
    outline: none;
    padding: 20px;
    border-radius: 12px;
    font-size: 1rem;
}

#email:hover {
    outline: 1px solid var(--dark-slate-grey);
}

.form.error .header-email h3:nth-child(2) {
    display: flex;
}

.form.error #email {
    background-color: hsla(4, 100%, 67%, 0.243);
    border: 1px solid var(--tomato);
}

.form.error #email:hover {
    outline: 1px solid var(--tomato);
}

.form.error #email::placeholder {
    color: hsl(4, 100%, 67%);
}

.container2 .mobile {
    display: none;
}

.container2 .desktop {
    display: block;
}

.attribution {
    text-align: center;
}

.attribution,
.attribution * {
    font-size: 11px;
    color: var(--white);
}
.attribution a {
    text-decoration: underline;
    /* color: hsl(228, 45%, 44%); */
}
